@charset "UTF-8";
/* --------------------------------------------------------------------------------
*   common
-------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
*   text / font
-------------------------------------------------------------------------------- */
#loading .loadingPercent {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 700;
}

/* --------------------------------------------------------------------------------
*   media query
-------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
*
*   z-index
*
-------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
*
*   easing
*
-------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
*
*   texture
*
-------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
*
*   color
*
-------------------------------------------------------------------------------- */
/* HSL */
/* RGB */
/* HSL */
/* RGB */
/* HSL */
/* RGB */
/* HSL */
/* RGB */
/* Coolors Exported Palette - coolors.co/040091-6901f5-b735fb-fe249b-ff5a78 */
/* HSL */
/* RGB */
/* HSL */
/* RGB */
/* HSL */
/* RGB */
/* --------------------------------------------------------------------------------
*
*   mixin
*
-------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
*
*   animation
*
-------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
*
*   media query
*
-------------------------------------------------------------------------------- */
/*
*
*   max order 
*
*/
/*
*
*   min order 
*
*/
/*
*
*   how to   
*
*/
/* --------------------------------------------------------------------------------
*
*   portrait,landscape
*
-------------------------------------------------------------------------------- */
/*
  *
  *   how to
  *
  */
/* --------------------------------------------------------------------------------
*
*   common
*
-------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
*
*   float
*
-------------------------------------------------------------------------------- */
.fl {
  float: left;
}

.fr {
  float: right;
}

.cl {
  clear: both;
}

.fList > li,
.fList > dt,
.fList > dd,
.fList > .item {
  float: left;
}

.fList > .item:last-child {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

.flex > li:last-child,
.flex > dt:last-child,
.flex > dd:last-child,
.flex > .item:last-child {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

.fBoth > li:first-child {
  float: left;
}

.fBoth > li:last-child {
  float: right;
}

.fBoth > dt,
.fBoth > .item:nth-child(1) {
  float: left;
}

.fBoth > dd,
.fBoth > .item:nth-child(2) {
  float: right;
}

/* --------------------------------------------------------------------------------
*
*   flex
*
-------------------------------------------------------------------------------- */
.flex {
  display: flex;
}

/* --------------------------------------------------------------------------------
*
*   Clearfix
*
-------------------------------------------------------------------------------- */
.cf, .fList {
  zoom: 1;
}

.cf:after, .fList:after, .fBoth:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  line-height: 0;
  visibility: hidden;
}

/* --------------------------------------------------------------------------------
*
*   TextAlign
*
-------------------------------------------------------------------------------- */
.al {
  text-align: left;
}

.ar {
  text-align: right;
}

.ac {
  text-align: center;
}

.vb {
  vertical-align: baseline;
}

/* --------------------------------------------------------------------------------
*
*   Nav
*
-------------------------------------------------------------------------------- */
.nav {
  zoom: 1;
}

.nav:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  line-height: 0;
  visibility: hidden;
}

/* --------------------------------------------------------------------------------
*
*   font
*
-------------------------------------------------------------------------------- */
.captalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

/* --------------------------------------------------------------------------------
*
*   responsive
*
-------------------------------------------------------------------------------- */
img.fitted {
  width: 100% !important;
  height: auto !important;
}

/* --------------------------------------------------------------------------------
*
*   overflow hidden
*
-------------------------------------------------------------------------------- */
.oh {
  overflow: hidden;
}

/* --------------------------------------------------------------------------------
*
*   word breadk
*
-------------------------------------------------------------------------------- */
.wb {
  word-break: break-all;
}

/* --------------------------------------------------------------------------------
*
*   font-weight
*
-------------------------------------------------------------------------------- */
.fwb {
  font-weight: bold;
}

/* --------------------------------------------------------------------------------
*
*   center
*
-------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
*
*   row
*
-------------------------------------------------------------------------------- */
.row {
  font-size: 0;
  text-align: center;
}

.row .item {
  display: inline-block;
}

.row.row_col2 > .item {
  width: 50%;
}

.row.row_col3 > .item {
  width: 33.3333%;
}

.row.row_col4 > .item {
  width: 25%;
}

.row .item:last-child {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

/* --------------------------------------------------------------------------------
*
*   opacity
*
-------------------------------------------------------------------------------- */
.is-unvisible {
  opacity: 0 !important;
}

.is-visible {
  opacity: 1 !important;
}

/* --------------------------------------------------------------------------------
*
*   display
*
-------------------------------------------------------------------------------- */
.is-block {
  display: block !important;
}

.is-none {
  display: none !important;
}

/* --------------------------------------------------------------------------------
*
*   overflow
*
-------------------------------------------------------------------------------- */
.is-scroll {
  overflow: scroll !important;
}

.is-scroll-x {
  overflow-x: scroll !important;
}

.is-scroll-y {
  overflow-y: scroll !important;
}

.is-hidden {
  overflow: hidden !important;
}

.is-hidden-x {
  overflow-x: hidden !important;
}

.is-hidden-y {
  overflow-y: hidden !important;
}

/* --------------------------------------------------------------------------------
*
*   position
*
-------------------------------------------------------------------------------- */
.is-fixed {
  position: fixed !important;
}

.is-absolute {
  position: absolute !important;
}

.is-relative {
  position: relative !important;
}

.is-static {
  position: static !important;
}

/* --------------------------------------------------------------------------------
*
*   // 画像保存禁止    
*
-------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
*
*   design(見本)
*
-------------------------------------------------------------------------------- */
.sample {
  display: none;
  position: absolute;
  opacity: 0.3;
  top: 0px;
  left: 0;
  z-index: 99999;
}

body {
  margin: 0;
  padding: 0;
  border: none;
}

/* image */
img,
div, p, blockquote,
h1, h2, h3, h4, h5, h6,
ul, ol, li, dl, dt, dd,
form, fieldset, textarea {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-style: normal;
  text-decoration: none;
  list-style: none;
}

a {
  cursor: pointer;
}

table {
  font-size: 100%;
}

hr.separator {
  display: none;
}

input[type="text"], button, select, textarea {
  resize: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

select::-ms-expand {
  display: none;
}

img {
  vertical-align: bottom;
}

/* --------------------------------------------------------------------------------
*   parts
-------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
*
*   footer
*
-------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
*
*   header
*
-------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
*
*   html,body
*
-------------------------------------------------------------------------------- */
html {
  color: #000;
  font-size: 10px;
  font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", Meiryo, "メイリオ", Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.025em;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

body {
  overflow-x: hidden;
}

/* --------------------------------------------------------------------------------
*
*   #wrapper #inner
*
-------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
*
*   .wrapper .inner
*
-------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
*
*   opacity
*
-------------------------------------------------------------------------------- */
@media (min-width: 769px) {
  .hover_op {
    transition: opacity 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  }
  .hover_op:hover {
    cursor: pointer;
    opacity: 0.5 !important;
  }
}

@media (min-width: 769px) {
  .hover_sc {
    transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transform: translate3d(0, 0, 0);
  }
  .hover_sc img {
    transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
  .hover_sc:hover {
    cursor: pointer;
    transform: scale(0.96);
  }
  .hover_sc:hover img {
    opacity: 0.65 !important;
  }
}

@media (min-width: 769px) {
  .hover_op_sns svg {
    transform: translate3d(0, 0, 0);
    transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s, transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  }
  .hover_op_sns:hover svg {
    will-change: all;
    cursor: pointer;
    opacity: 0.6 !important;
    transform: scale(0.92);
  }
}

.showOp {
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.showOp.is-show {
  opacity: 1;
}

/* --------------------------------------------------------------------------------
*
*   flash
*
-------------------------------------------------------------------------------- */
.flashD {
  animation: kf_flash 0.02s 10 normal;
}

.flashD_g {
  animation: kf_flash_g 0.01s 13 normal;
}

.flashD_g_main {
  animation: kf_flash_g 0.02s 13 normal;
}

.flashD_sp {
  animation: kf_flash 0.02s 5 normal;
}

.flashD_g_sp {
  animation: kf_flash_g 0.01s 6 normal;
}

.flashD_g_main_sp {
  animation: kf_flash_g 0.02s 6 normal;
}

@-moz-keyframes kf_flash {
  50% {
    opacity: 1.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
  }
}

@-webkit-keyframes kf_flash {
  50% {
    opacity: 1.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
  }
}

@-o-keyframes kf_flash {
  50% {
    opacity: 1.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
  }
}

@keyframes kf_flash {
  50% {
    opacity: 1.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
  }
}

@-moz-keyframes kf_flash_g {
  50% {
    opacity: 0.0;
  }
}

@-webkit-keyframes kf_flash_g {
  50% {
    opacity: 0.0;
  }
}

@-o-keyframes kf_flash_g {
  50% {
    opacity: 0.0;
  }
}

@keyframes kf_flash_g {
  50% {
    opacity: 0.0;
  }
}

.spantext {
  white-space: nowrap;
}

.spantext .oh {
  display: inline-block;
  position: relative;
  line-height: 1.3;
}

.spantext .oh .t {
  opacity: 0;
}

.spantext .oh .overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0;
}

/* --------------------------------------------------------------------------------
*
*   scale
*
-------------------------------------------------------------------------------- */
.scale {
  transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.scale:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.scale_img {
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.scale_img:hover {
  cursor: pointer;
  transform: scale(1.15);
}

/* --------------------------------------------------------------------------------
*
*   color
*
-------------------------------------------------------------------------------- */
.hColor {
  transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.hColor:hover {
  cursor: pointer;
  color: #f63e69 !important;
}

.hBgColor {
  transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.hBgColor:hover {
  cursor: pointer;
  background-color: #F63E69 !important;
}

/*
*
*   cursor
*
*/
.cp {
  cursor: pointer;
}

/* --------------------------------------------------------------------------------
*
*   shadow
*
-------------------------------------------------------------------------------- */
.hover_boxShadow {
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.hover_boxShadow:hover {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2) !important;
  opacity: 0.7;
  cursor: pointer;
}

/* --------------------------------------------------------------------------------
*
*   filte flash
*
-------------------------------------------------------------------------------- */
.wFlash {
  cursor: pointer;
}

.wFlash:hover {
  animation: bF 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 normal;
}

@-moz-keyframes bF {
  0% {
    background: white;
  }
  100% {
    background: rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes bF {
  0% {
    background: white;
  }
  100% {
    background: rgba(255, 255, 255, 0);
  }
}

@-o-keyframes bF {
  0% {
    background: white;
  }
  100% {
    background: rgba(255, 255, 255, 0);
  }
}

@keyframes bF {
  0% {
    background: white;
  }
  100% {
    background: rgba(255, 255, 255, 0);
  }
}

.flash:hover {
  animation: kf_flash 0.05s infinite;
}

.translate {
  transition: transform 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

/* --------------------------------------------------------------------------------
*
*   pulse
*
-------------------------------------------------------------------------------- */
.pulse {
  border-radius: 50%;
}

.pulse:hover {
  animation: pulse 1.2s infinite;
  animation-delay: 0.3;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

/* --------------------------------------------------------------------------------
*
*   section
*
-------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
*
*   bar
*
-------------------------------------------------------------------------------- */
.left_bar:after {
  display: block;
  width: 0.7rem;
  height: 3.5rem;
  content: '';
  background-color: #000;
  position: absolute;
  left: 0;
  top: -0.6rem;
}

.up_bar:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1rem;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  transition: height 0.18s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* --------------------------------------------------------------------------------
*
*   select
*
-------------------------------------------------------------------------------- */
body.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

/* --------------------------------------------------------------------------------
*
*   grab
*
-------------------------------------------------------------------------------- */
.grab {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.grabbing {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}

/* --------------------------------------------------------------------------------
*
*   loading
*
-------------------------------------------------------------------------------- */
#loading {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: calc(100% - 42% * 2);
  height: 100vh;
  margin: 0 42%;
  overflow: hidden;
}

@media (max-width: 768px) {
  #loading {
    width: calc(100% - 40% * 2);
    margin: 0 40%;
  }
}

#loading .loadingBar {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  height: 1px;
  background-color: #ffffff;
}

#loading .loadingPercent {
  position: absolute;
  top: calc(50% + 20px);
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 12px;
}

#loading .ballWrap {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: calc(-40px + -10px);
}

#loading .ballWrap .ball {
  width: 80px;
  height: auto;
}

@media (max-width: 768px) {
  .isIOSSafari #loading .loadingBar {
    margin-top: -40px;
  }
  .isIOSSafari #loading .loadingPercent {
    margin-top: -40px;
  }
}

.id_top #loading {
  display: block;
}

/* --------------------------------------------------------------------------------
*
*   media query module
*
-------------------------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
  br.sp {
    display: inline-block;
  }
  br.pc {
    display: none;
  }
  .display.sp {
    display: inline-block;
  }
  .display.pc {
    display: none;
  }
  /*
  *
  *   display flex
  *
  */
  .sp-order-1 {
    order: 1;
  }
  .sp-order-2 {
    order: 2;
  }
  .sp-order-3 {
    order: 3;
  }
  .sp-order-4 {
    order: 4;
  }
  .sp-order-5 {
    order: 5;
  }
  .sp-order-6 {
    order: 6;
  }
  .sp-order-7 {
    order: 7;
  }
  .sp-order-8 {
    order: 8;
  }
  .sp-order-9 {
    order: 9;
  }
}

@media only screen and (min-width: 769px) {
  br.pc {
    display: inline-block;
  }
  br.sp {
    display: none;
  }
  .display.pc {
    display: inline-block;
  }
  .display.sp {
    display: none;
  }
  /*
  *
  *   display flex
  *
  */
  .pc-order-1 {
    order: 1;
  }
  .pc-order-2 {
    order: 2;
  }
  .pc-order-3 {
    order: 3;
  }
  .pc-order-4 {
    order: 4;
  }
  .pc-order-5 {
    order: 5;
  }
  .pc-order-6 {
    order: 6;
  }
  .pc-order-7 {
    order: 7;
  }
  .pc-order-8 {
    order: 8;
  }
  .pc-order-9 {
    order: 9;
  }
}

/* --------------------------------------------------------------------------------
*
*   link
*
-------------------------------------------------------------------------------- */
a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}

a:active {
  color: #000;
  text-decoration: none;
}

/* --------------------------------------------------------------------------------
*
*   box-shadow
*
-------------------------------------------------------------------------------- */
.box-shadow {
  box-shadow: 4px 2px 10px 1px #ccc inset;
}

/* --------------------------------------------------------------------------------
*
*   text-shadow
*
-------------------------------------------------------------------------------- */
.text-shadow {
  text-shadow: 5px 5px 2px #ccc;
}

/* --------------------------------------------------------------------------------
*
*   color
*
-------------------------------------------------------------------------------- */
.highlight {
  color: #ff405e;
}

.error {
  color: #E83434;
}

.error {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5.1rem;
  width: 100%;
}

.underline {
  text-decoration: underline;
}

/* --------------------------------------------------------------------------------
*   page
-------------------------------------------------------------------------------- */
#wrapper.id_top {
  /* --------------------------------------------------------------------------------
*
*   section01
*
-------------------------------------------------------------------------------- */
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btns {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btns .btn {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
}

.btns .btn + .btn {
  margin-left: 20px;
}

.imgs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.imgs:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #fff;
  z-index: 1;
}

.imgs.show img,
.imgs.show video {
  visibility: visible;
}

.imgs.show:before {
  display: none;
}

.imgs img,
.imgs video {
  display: block;
  width: 10%;
  height: auto;
  object-fit: contain;
  visibility: hidden;
}

.imgs img.show,
.imgs video.show {
  visibility: visible;
  position: absolute;
  width: 100%;
}

.status {
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 16px;
  background-color: #fff;
}
/*# sourceMappingURL=maps/style.css.map */
